@import "./variables";

.btn-primary-custom {
  background-color: $accent-glow;
  border: none;
  color: #000;
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    background-color: $accent-glow;
    box-shadow: 0 0 10px $accent-primary;
  }
}
