@import "./variables";

.custom-navbar {
  background-color: $bg-card;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  .nav-link {
    color: $text-secondary;
    transition: 0.3s;

    &:hover {
      color: $accent-secondary;
    }
  }

  .navbar-brand {
    color: $accent-primary;
    font-weight: 600;
  }
}
.offcanvas-dropdown .dropdown-item {
  color: $text-primary;

  &:hover {
    color: $accent-secondary;
    background-color: $bg-card;
  }
}

.custom-dropdown img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.search-input {
  border-start-start-radius: 0.2rem;
  border-end-start-radius: 0.2rem;
  border-start-end-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
}
