@import "./variables";

.custom-navbar {
  background-color: $bg-card;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  .nav-link {
    color: $text-secondary;
    transition: 0.3s;

    &:hover {
      color: $accent-secondary;
    }
  }

  .navbar-brand {
    color: $accent-primary;
    font-weight: 600;
  }
}
.offcanvas-dropdown .dropdown-item {
  color: $text-primary;

  &:hover {
    color: $accent-secondary;
    background-color: $bg-card;
  }
}

.custom-dropdown img {
  border-radius: 20px;
  width: 50%;
}
