.stat-card {
  background-color: $bg-card;
  border: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
  height: 100%;
  transition: 0.3s;

  // &:hover {
  //   transform: translateY(-4px);
  //   box-shadow: 0 0 15px rgba(0, 212, 255, 0.15);
  // }
}

.stat-icon {
  color: $accent-secondary;
}

.card-title {
  color: $text-secondary;
  font-weight: 600;
  cursor: default;
  text-decoration: none;
}

.card-title:hover {
  color: $accent-secondary;
}

.card-text {
  color: $text-secondary;
  font-weight: 400;
  text-decoration: none;
}

.card-text:hover {
  color: $accent-secondary;
}

.card-link {
  color: $accent-secondary;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.stat-card img {
  cursor: pointer;
}
