@import "./variables";

$primary: $accent-primary;
$success: $success;
$danger: $danger;

$offcanvas-bg-color: $bg-card;
$offcanvas-color: $text-primary;

$dropdown-bg: $bg-secondary;
$dropdown-link-color: $text-secondary;
$dropdown-link-hover-bg: $bg-card;
$dropdown-link-hover-color: $accent-primary;

@import "bootstrap/scss/bootstrap";
@import "./navbar";
@import "./buttons";
@import "./offcanvas";

body {
  background-color: $bg-primary;
  color: $text-primary;
  margin: 0;
  font-family: "Inter", sans-serif;
}
